.outer {
  padding: 15px;
}

.left {
  margin-bottom: 20px;
}

.jer-editor-container {
    max-width: 100%;
}

@media screen and (min-width: 1000px) {
  .filterBuilder {
    display: flex;
    gap: 10px;
    width: 100%;
  }

  .right,
  .left {
    flex: 1;
    display: flex;
    margin: 0;
  }

  .right > *,
  .left > * {
    width: 100%;
  }
}
