.condition {
  margin: 0 0 5px;
  padding: 5px;
  border: dotted 1px black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fieldsWrapper {
  flex: 1;
  display: flex;
  gap: 5px;
  padding-right: 5px;
}

.field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

button,
select,
input {
  height: 30px;
}
